header {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 1rem;
}

textarea {
  min-height: 300px;
}

.tab button:not(:last-child) {
  margin-right: .5rem;
}

.active-note {
  border-color: #0f0;
  color: #0f0;
}
