/* Global
 * ==================================================================================================== */

@font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Medium"), local("YuGothic-Medium"); }
@font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Bold"  ), local("YuGothic-Bold"  ); font-weight: bold; }
@font-face { font-family: "Noto Sans Mono CJK JP"; src: local("NotoSansMonoCJKjp-Regular"), local("Noto Sans Mono CJK JP Regular"), local("Noto Sans Mono CJK JP"); }
@font-face {
  font-family: "Noto Sans Mono CJK JP Web";
  src: url("https://cdn.jsdelivr.net/npm/@neos21/japanese-monospaced-fonts@1.0.2/NotoSansMonoCJKjp-Regular.woff2")              format("woff2"),
       url("https://unpkg.com/@neos21/japanese-monospaced-fonts@1.0.2/NotoSansMonoCJKjp-Regular.woff2")                         format("woff2"),
       url("https://cdn.jsdelivr.net/npm/@neos21/japanese-monospaced-fonts@1.0.2/NotoSansMonoCJKjp-Regular.woff")               format("woff"),
       url("https://unpkg.com/@neos21/japanese-monospaced-fonts@1.0.2/NotoSansMonoCJKjp-Regular.woff")                          format("woff"),
       url("https://cdn.jsdelivr.net/npm/@neos21/japanese-monospaced-fonts@1.0.2/NotoSansMonoCJKjp-Regular.otf")                format("opentype"),
       url("https://unpkg.com/@neos21/japanese-monospaced-fonts@1.0.2/NotoSansMonoCJKjp-Regular.otf")                           format("opentype"),
       url("https://cdn.jsdelivr.net/npm/@japanese-monospaced-fonts/noto-sans-mono-cjk-jp@1.0.1/NotoSansMonoCJKJP-Regular.otf") format("opentype"),
       url("https://unpkg.com/@japanese-monospaced-fonts/noto-sans-mono-cjk-jp@1.0.1/NotoSansMonoCJKJP-Regular.otf")            format("opentype");
  font-display: swap;
}

*, ::before, ::after { box-sizing: border-box; }

:root {
  --font-family-sans-serif: "Noto Sans CJK JP"     ,                              YuGothic  , "Yu Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace : "Noto Sans Mono CJK JP", "Noto Sans Mono CJK JP Web", Osaka-mono, "MS Gothic", Menlo, Consolas, Courier, "Courier New"             , monospace , "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  height: 100%;
  overflow: hidden scroll;
  overflow-wrap: break-word;
  font-family: var(--font-family-sans-serif);
          text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: objects ;
  -webkit-text-size-adjust: 100%;
  word-break: break-all;
  line-height: 1.5;
  cursor: default;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, dl, ul, ol, form, table {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  cursor: pointer;
}


/* Forms
 * ==================================================================================================== */

input, button, textarea, select, option {
  margin: 0;
  color: inherit;
  font-size: 16px;
  font-family: var(--font-family-monospace);
  vertical-align: top;
}

input[type="button"], input[type="submit"], button {
  cursor: pointer;
}

input[type="text"], input[type="password"], textarea {
  min-width: 5rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .3rem .4rem;
  background: #fff;
}

textarea {
  width: 100%;
  resize: vertical;
}

button {
  outline: 0;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .3rem .8rem;
  background: #f0f0f0;
  white-space: nowrap;
}
button:hover { background: #e9e9e9; }
button:focus { background: #e3e3e3; }
button:disabled {
  color: #888;
  cursor: not-allowed;
}


/* Utilities
 * ==================================================================================================== */

.text-left   { text-align: left  ; }
.text-center { text-align: center; }
.text-right  { text-align: right ; }


/* Black Theme
 * ==================================================================================================== */

.black-theme-wrapper {
  min-height: 100%;
  padding: 1rem 1rem 3rem;
  color: #0c0;
  background: #000;
}

.black-theme-wrapper a {
  color: #0c0;
}

.black-theme-wrapper input,
.black-theme-wrapper button,
.black-theme-wrapper textarea {
  border-color: #0c0;
  color: #0c0;
  background: #000;
  outline: 0;
}

.black-theme-wrapper a:hover,
.black-theme-wrapper button:hover {
  color: #0f0;
}

.black-theme-wrapper a:active,
.black-theme-wrapper button:focus {
  color: #eee;
}

.black-theme-wrapper input::placeholder,
.black-theme-wrapper textarea::placeholder,
.black-theme-wrapper button:disabled {
  color: #080;
}


/* Hatebu
 * ==================================================================================================== */

/* 非活性時 */
button.button-info:disabled,
button.button-danger:disabled {
  opacity: .65;
}

/* 通常ボタン */
button.button-info {
  color: #fff;
  border-color: #007bff;
  background  : #007bff;
}
  button.button-info:hover {
    border-color: #0069d9;
    background  : #0069d9;
  }

/* 危険ボタン */
button.button-danger {
  color: #fff;
  border-color: #e72437;
  background  : #e72437;
}
  button.button-danger:hover {
    border-color: #c31526;
    background  : #c31526;
  }

/* `HomeComponent` と `NgUrlsComponent` で共用のためココに記載
 * `entry-remove` は `HomeComponent` のみで使用するが `grid-template` 定義に出てきていても特に問題なし */

:root {  /* 共通利用するので `:root` で定義 */
  --thumbnail-width: 110px;
  --thumbnail-height: 90px;
}

.entry {
  --colour-no-image-background: #e5e8e9;
  
  display: grid;
  grid-template: "entry-thumbnail entry-info" auto
                 "entry-remove    entry-info" auto
                 "entry-remove    entry-meta" auto
                / var(--thumbnail-width) 1fr;
  column-gap: .5rem;
  padding-bottom: .75rem;
  border-bottom: 1px solid #e5e8e9;
  margin-bottom: .75rem;
  user-select: none;
}
  /* 右利きモード (`styles.css` では `:host-context` が効かないので注意) */
  .right-hand-mode .entry {
    grid-template: "entry-info entry-thumbnail" auto
                   "entry-info entry-remove   " auto
                   "entry-meta entry-remove   " auto
                  / 1fr        var(--thumbnail-width);
  }

.entry a {
  text-decoration: none;
}

.entry button {
  background: #fff;
}

/* 記事タイトル・ファビコン・本文 */
.entry-info {  /* a */
  grid-area: entry-info;
  
  color: #007bff;  /* 記事タイトルのリンク色 */
}
  .entry-info:hover {
    color: #0056b3;
  }
  
  /* 記事タイトル */
  .entry-info-title {
    font-weight: bold;
  }
    /* 画面幅が狭い時：3行で省略表示する */
    @media (max-width: 575.98px) {
      .entry-info-title {
        --font-size  : .9rem;
        --line-height: 1.3;
        
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;  /* 3行 */
        overflow: hidden;
        max-height: calc(var(--line-height) * 3.5em);  /* 3行分少し余裕もたせる */
        font-size: var(--font-size);
        line-height: var(--line-height);
      }
    }
    
    /* ファビコン */
    .entry-info-title-favicon {
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: text-top;
    }
      .entry-info-title-favicon img {
        width: 16px;
        height: 16px;
        background: var(--colour-no-image-background);
      }
  
  /* 記事本文 */
  .entry-info-description {
    padding-top: .25rem;  /* タイトルとの隙間・突っ張り棒 */
    color: #6c757d;
  }
    /* 画面幅が狭い時：3行で省略表示する */
    @media (max-width: 575.98px) {
      .entry-info-description {
        --font-size  : .8rem;
        --line-height: 1.35;
        
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;  /* 3行 */
        overflow: hidden;
        max-height: calc(var(--line-height) * 4em);  /* 3行分・ブラウザで確認したら切れたので少し余裕もたせる */
        font-size: var(--font-size);
        line-height: var(--line-height);
      }
    }

/* メタ情報 */
.entry-meta {
  grid-area: entry-meta;
  
  padding-top: .25rem;  /* 記事本文との隙間・突っ張り棒 */
  font-size: .9rem;
  line-height: 1;
}
  /* 画面幅が狭い時：文字サイズを小さくする */
  @media (max-width: 575.98px) {
    .entry-meta {
      font-size: .8rem;
    }
  }
  
  /* ブクマ数 */
  .entry-meta-count {  /* a */
    margin-right: .5rem;  /* 日時との隙間 */
    color: #eb5269;
  }
    .entry-meta-count-container {  /* span */
      display: inline-block;
      width: 2.75em;  /* 桁ズレ防止・4桁まで */
      text-align: right;
      white-space: nowrap;
    }
  
  /* 日時 */
  .entry-meta-date {
    color: #b0b0b0;
  }

/* サムネイル */
.entry-thumbnail {  /* div */
  grid-area: entry-thumbnail;
}
  .entry-thumbnail, .entry-thumbnail img {
    width: var(--thumbnail-width);
    height: var(--thumbnail-height);
    background: var(--colour-no-image-background);
  }


/* Solilog
 * ==================================================================================================== */

/* パイプで生成し [innerHTML] で注入したリンクに反映させるため */
.solilog-anchor {
  color: #07f !important;
  text-decoration: underline !important;
}
  .solilog-anchor:hover {
    color: #f09 !important;
  }
