.wrapper {
  padding: .5rem;
}

a:hover {
  text-decoration: underline;
}

header {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: .5rem;
  white-space: nowrap;
}
  header > h1 {
    font-size: 1rem;
  }
  header > div {
    justify-self: end;
  }
    header > div > span {
      margin: 0 .5rem;
    }

@media (min-width: 650px) {
  .year-wrapper ul {
    margin-right: 300px;
  }
}

summary {
  position: sticky;
  top: 0;
  font-weight: bold;
  cursor: pointer;
  background: #fff;
}
  summary:hover {
    text-decoration: underline;
    background: #f0ffff;
  }

.thumbnail-wrapper {
  position: fixed;
  top: 2.25rem;
  right: 0;
  margin-left: 2rem;
  z-index: 99999;  /* `.thumbnail-background` より上 */
}
  .thumbnail-wrapper img {
    border: 1px solid #000;
  }

.thumbnail-background {
  display: none;
}
.thumbnail-wrapper + .thumbnail-background {
  display: block;  /* 表示する */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 99990;
  cursor: pointer;
}
  /* 幅が広い時：常に表示させない */
  @media (min-width: 650px) {
    .thumbnail-background {
      display: none !important;
    }
  }
  .thumbnail-background span {
    visibility: hidden;  /* テキストは非表示 */
  }
