<div class="black-theme-wrapper">
  <header>
    <h1>Bookmarks</h1>
    <div class="text-right"><a [routerLink]="['/index']">Index</a></div>
  </header>
  
  <form [formGroup]="form" (ngSubmit)="create()">
    <input type="text" placeholder="URL" formControlName="url">
    <button type="submit" [disabled]="form.invalid || isProcessing">Create</button>
  </form>
  <app-error [error]="error"></app-error>
  
  <p     *ngIf="bookmarks == null || bookmarks.length === 0">No Bookmarks</p>
  <table *ngIf="bookmarks != null && bookmarks.length >=  1">
    <tbody>
      <tr *ngFor="let bookmark of bookmarks">
        <td><button type="button" (click)="remove(bookmark.id!)" [disabled]="isProcessing">×</button></td>
        <td class="text-right">{{ bookmark.id }}</td>
        <td><a [href]="bookmark.url" target="_blank" rel="noreferrer noopener">{{ bookmark.url }}</a></td>
        <td><button type="button" (click)="copy(bookmark.url)">&#x23CE;</button></td>
      </tr>
    </tbody>
  </table>
  
  <textarea id="copy-text" readonly></textarea>
</div>
