header {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: .5rem;
}

h1 {
  font-size: 1rem;
}

form {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: .5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  padding: 0;
  vertical-align: top;
}

table tr td:nth-child(1) {
  height: 3rem;
  white-space: nowrap;
}

table tr td:nth-child(2) {
  padding-left: .5rem;
  font-weight: bold;
  white-space: nowrap;
}

table tr td:nth-child(3) {
  width: 100%;
  padding-left: .5rem;
  font-size: .9rem;
}
table tr td:nth-child(3) a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;  /* 2行 */
  overflow: hidden;
}

table tr td:nth-child(4) {
  padding-left: .5rem;
  white-space: nowrap;
}

#copy-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
